@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-color: #203500;
    --primary-color: #445a14;
    --secondary-color: #586e26;
    --secondary-color-light:#ebf7cc;
}


body{
    background: var(--secondary-color-light);
    font-family:'Capriola', sans-serif;
}

.main-header{
    background-color: var(--primary-color);
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-header h1{
    letter-spacing: 0.25rem;
    font-family:'Capriola', sans-serif;
    font-weight: 300;    
    color: var(--secondary-color-light);
    translate: 10px 0 ;
    font-size: 2.8rem;
}


/* Add-books button*/
.add-books{
    background: var(--secondary-color);
    color: var(--secondary-color-light);
    border-radius: 55px;
    border: none;
    font-weight: 200;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}

.container button{
    padding: 1.1rem 2rem;
    font-size: 1.6rem;
    margin: 5rem 0;
    letter-spacing: 0.09rem;
}

.add-books:hover{
    cursor: pointer;
    scale: 1.03;
    transition: 0.15s ease-in-out;
}

.book-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 15;
    border: 1px solid #6eb504;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color-light);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    font-size: 19px;
    font-family: 'sans-serif';
    display: flex;
    flex-direction: column;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color-light);
}

.heading h2{
    font-weight: 200;
    font-size: 1.5rem;
    padding-top: 5px;
    font-family: 'capriola';
}

.close-btn{
    float: right;
    background: none;
    outline: none;
    border: none;
    font-size: 38px;
    color: var(--secondary-color-light);
    cursor: pointer;
    font-weight: 400;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.content{
    padding: 16px;
    margin: 11px;
    width: 15rem;
    border-radius: 5px;
    border: none;
    background-color: #faf2e7dc;
}


input[type="checkbox"] {
   margin: 20px 0;
   translate: 9px 3px;
}

input::placeholder {
    font-size: 1rem;
    color: #203500;
}


.check{
    font-size: 20px;
    letter-spacing: 0.07rem;
    font-family: 'capriola';
}

.checkbox{
    width: 20px;
    height: 20px;
    accent-color: var(--secondary-color-light);
}

.submit{
    border-radius: 20px;
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 0.09rem;
    font-family: 'capriola';
}

.submit:hover{
    cursor: pointer;
    opacity: 0.9;
    scale:1.01;
}

.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    z-index: 4;
}

/*Added Books display*/
.books-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-top: 200px;
    margin-bottom: 50px;
    place-items: center;
    margin-left: 5%;
    margin-right: 5%;
    gap:40px;
    grid-auto-flow: row;
}

.books-display{
    height: 290px;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 18px;
    font-size: 1.26rem;
    border-radius: 25px;
    background-color: #f3ebe2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, #884854 0px 8px 16px -8px;
    font-family: Arial, Helvetica, sans-serif;
} 

.remove{
    margin-left: 330px;
    border: none;
    font-size: 2rem;
    background-color: #f3ebe2;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: -20px;
    margin-top: -20px;
    color: rgb(77, 75, 75);
}

.remove:hover{
    color: black;
}


.read{
    border: none;
    font-size: 1.3rem;
    padding: 15px 45px 15px 45px;
    background-color: #753742ef;
    color: whitesmoke;
    border-radius: 30px;
    white-space: nowrap;
}

.read:hover{
    cursor: pointer;
    opacity: 0.8;
}


.hidden{
    display: none;
}


@media(max-width:768px){
    .main-header h1{
        font-size: 2.2rem;
    }

    .container button{
        padding: 1rem 1.7rem;
        font-size: 1.3rem;
        margin: 3.7rem 0;
        letter-spacing: 0.09rem;
    }

    .books-display{
        height: 220px;
        width: 390px;
        margin-right: 2.1rem;
        margin-top: -20px;
    }

}